<!DOCTYPE html>
<html lang="it">
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<meta http-equiv="X-Frame-Options" content="SAMEORIGIN"> 
<title>casabaldini.eu</title>

<link rel="stylesheet" type="text/css" href="/static/home/dist/css/slider-pro.min.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="/static/home/dist/css/examples.css" media="screen"/>
<link rel="stylesheet" type="text/css" href="/static/menu_6/css/default.css" />
<link rel="stylesheet" type="text/css" href="/static/menu_6/css/component.css" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!--[if IE 7]>
    <link rel="stylesheet" href="font-awesome/css/font-awesome-ie7.min.css">
    <![endif]-->
	
	<!--CSS Style-->
    <link href="/static/Ace-Menu/css/demo.css" rel="stylesheet" type="text/css" />
    <link href="/static/Ace-Menu/css/ace-responsive-menu.css" rel="stylesheet" type="text/css" />	
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.2.min.js"></script>
<script type="text/javascript" src="/static/home/dist/js/jquery.sliderPro.min.js"></script>
    <meta charset="UTF-8">
    <title>{{block "title" .}}casabaldini.eu{{end}}</title>
    <link rel="stylesheet" href="/static/style.css">

<script type="text/javascript">
	$( document ).ready(function( $ ) {
		$( '#example1' ).sliderPro({
			width: 960,
			height: 500,
			arrows: true,
			buttons: false,
			waitForLayers: true,
			thumbnailWidth: 200,
			thumbnailHeight: 100,
			thumbnailPointer: true,
			autoplay: true,
			autoScaleLayers: false,
			breakpoints: {
				500: {
					thumbnailWidth: 120,
					thumbnailHeight: 50
				}
			}
		});
	});
</script> 
 <!--Scripts-->
    <script src="/static/Ace-Menu/js/jquery-1.10.1.min.js" type="text/javascript"></script>
    <script src="/static/Ace-Menu/js/ace-responsive-menu.js" type="text/javascript"></script>
	
	<!--Plugin Initialization-->
    <script type="text/javascript">
         $(document).ready(function () {
             $("#respMenu").aceResponsiveMenu({
                 resizeWidth: '768', // Set the same in Media query       
                 animationSpeed: 'fast', //slow, medium, fast
                 accoridonExpAll: false //Expands all the accordion menu on click
             });
         });
	</script>  
</head >

<header style="position: absolute; margin-top: -2.5%;margin-left:23.8% ; float:left;"><span style="position: absolute; margin-top: -2.5%;margin-left:23.8% ; float:left;"> 
	<nav>
 	{{ block "menu" . }}{{template "menu" .}}{{ end }}
	</nav>
</header>
 <body style="background-image:url(/static/bg.png); background-repeat:repeat;">
    <main>
        
        {{ block "content" . }}{{ end }}
        
    </main>
</body>

</html>
